doc/*.aux
doc/*.log
doc/*.pdf
doc/_build/html
doc/_build/doctrees
doc/_build/latex
dist/*
artefacts/*
arakoon.egg-info/*
arakoon.docdir*
build/*
arakoon.native
arakoon.byte
arakoon.d.byte
nursery.native
nusery.byte
debian/tmp/*
debian/libarakoon-ocaml-dev/*
debian/arakoon/*
redhat/RPMS/*
redhat/SRPMS/*
redhat/BUILD
*.pyc
*.orig
.paths
.project
.settings/*
/_build/
/_virtualenv
/examples/ocaml/_build/
/examples/ocaml/demo.native
/testresults.xml
