Source: arakoon
Section: database
Priority: extra
Maintainer: Romain Slootmaekers <romain@incubaid.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.arakoon.org
Vcs-Git: https://github.com/Incubaid/arakoon

Package: arakoon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple consistent distributed key/value store
 Arakoon tries to be a consistent distributed key value store.
 Technically, it's an ocaml implementation of multipaxos, on top of
 Tokyo Cabinet

Package: libarakoon-ocaml-dev
Architecture: any
Description: ocaml client library for arakoon
 for those interested in using arakoon in their ocaml programs
