<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Arakoon :: {% block title %}{% endblock %}</title>
    <meta name="description"
      content="Arakoon is a distributed, consistent key-value store">
    <meta name="author" content="Incubaid BVBA">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />

    <!-- TODO
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->
  </head>

  <body class='page-{{ name }}'>

    <div class="topbar">
      <div class='container'>
        <img alt='Arakoon' title='Arakoon Logo' src='img/logo.png' id='logo' />
      </div>

      <div class="fill">
        <div class="container">
          <ul class="nav">
            <li{% if name == 'index' %} class="active"{% endif %}>
              <a href="index.html">Home</a>
            </li>
            <li{% if name == 'about' %} class="active"{% endif %}>
              <a href="about.html">About</a>
            </li>
            <li{% if name == 'download' %} class="active"{% endif %}>
              <a href="download.html">Download</a>
            </li>
            <li{% if name == 'documentation' %} class="active"{% endif %}>
              <a href="documentation.html">Documentation</a>
            </li>
            <li{% if name == 'contact' %} class="active"{% endif %}>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container" id='main'>
      {% block main %}
      {% endblock %}
      <footer>
        <p>&copy; 2011, Incubaid BVBA</p>
      </footer>
    </div>
  </body>
</html>
