<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Arakoon :: {% block title %}{% endblock %}</title>
    <meta name="description"
      content="Arakoon is a distributed, consistent key-value store">
    <meta name="author" content="Incubaid BVBA">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ base }}bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="{{ base }}style.css" rel="stylesheet" />
    <link href="{{ base }}code.css" rel="stylesheet" />

    <!-- TODO
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

{% block head %}{% endblock %}

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27966654-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body class='page-{{ name }}'>

    <header>
    <div class="topbar">
      <div class='container'>
        <a href='{{ base }}index.html'>
          <img alt='Arakoon' title='Arakoon Logo' src='{{ base }}img/logo.png' id='logo' />
        </a>
      </div>

      <div class="fill">
        <div class="container">
        <nav>
          <ul class="nav">
            <li{% if name == 'index' %} class="active"{% endif %}>
            <a href="{{ base }}index.html">Home</a>
            </li>
            <li{% if name == 'download' %} class="active"{% endif %}>
            <a href="{{ base }}download.html">Download</a>
            </li>
            <li{% if name == 'documentation_index' %} class="active"{% endif %}>
            <a href="{{ base }}documentation/index.html">Documentation</a>
            </li>
            <li{% if name == 'contact' %} class="active"{% endif %}>
            <a href="{{ base }}contact.html">Contact</a>
            </li>
          </ul>
        </nav>
        </div>
      </div>
    </div>
    </header>

    <div class="container" id='main'>
      {% block main %}
      {% endblock %}
      <footer>
      <div class='row'>
        <div class='span-one-third'>
          <p>&copy; 2010-2014, Incubaid BVBA</p>
        </div>
        <div class='span-two-thirds'>
          <p class='pull-right'>
            <a href='{{ base }}disclaimer.html'>Disclaimer</a>
            |
            <a href='{{ base }}privacy_policy.html'>Privacy Policy</a>
          </p>
        </div>
      </div>
      </footer>
    </div>
  </body>
</html>
